.secao_banner{
    width: 100%;
    min-height:50vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/banner-home.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(249, 219, 121);
}
.texto_banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
}


.texto_banner h1 {
    font-size: 48px;
    color: white;
    text-shadow: 3px 5px 2px #474747;
}

.secao_nossos_sabores,
.secao_nossos_eventos,
.secao_sobre_nos{
    width: 100%;
    display: flex;
}

.img_card{
    width:50%;
    height: 50vh;
    object-fit: cover;
    position: relative;
    
}

.container_texto{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 100px;
    
}

.container_texto h2{
    font-size: 35px;
    text-align: center;
}



.container_texto p{
    max-width: 600px;
    line-height: 30px;
    text-align: center;
}

@media (max-width: 768px) {
  .secao_nossos_sabores,
  .secao_nossos_eventos,
  .secao_sobre_nos {
    flex-direction: column;
  }

  .img_card,
  .container_texto {
    width: 100%;
  }

  .container_texto {
    padding: 40px 20px;
  }
}

