Git-e-Github/3-Curso-controle-de-versao-com-git/1-Curso-de-git-introducao/ES_RP_CVGIT_01_OHIUX.mp4
Git-e-Github/3-Curso-controle-de-versao-com-git/2-Ferramentas-de-controle-de-versao/ES_RP_CVGIT_P02.dm2
Git-e-Github/3-Curso-controle-de-versao-com-git/2-Ferramentas-de-controle-de-versao/Leia-me\!\!NOVO.txt
Git-e-Github/3-Curso-controle-de-versao-com-git/3-Instalacao-do-git/ES_RP_CVGIT_P03.dm2
Git-e-Github/3-Curso-controle-de-versao-com-git/3-Instalacao-do-git/Leia-me\!\!NOVO.txt
Git-e-Github/3-Curso-controle-de-versao-com-git/4-Primeiro-commit/ES_RP_CVGIT_P04.dm2
Git-e-Github/3-Curso-controle-de-versao-com-git/4-Primeiro-commit/Leia-me\!\!NOVO.txt
