.main_container{
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  padding: 100px 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 40px;
  background-color: gray;
}