@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.dark_mode{
  background-color: black;
  color: white;
}

.dark_mode .sobre_barber_shop p,
.dark_mode .sobre_barber_shop h1,
.dark_mode .sobre_barber_shop h2 {
  color: white;
}

.dark_mode .sobre_barber_shop p.assinatura {
  color: #B2987D;
  font-size: 50px
}

.light_mode .sobre_barber_shop p.assinatura {
  color: #B2987D;
  font-size: 50px
}

.dark_mode .header_container button{
 background-color: transparent;
 color:white;
 border-color: #B2987D;
}

.light_mode .header_container button{
  background-color: white;
  color: black;
  border-color: #B2987D;
}

.header_container{
  width: 100%;
  max-height: 1024px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 20px;

}

.header_container button{
  font-size: 30px;
  border: 2px ;
  border-color: #B2987D;
  border-radius: 30px; 
  border-style: solid;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
}

.banner_imagem{
  width: 100%;
  height: 30vh;
  position: relative;
}

.banner_imagem img{
  object-fit: cover;
}

.sobre_barber_shop{
  width: 100%;
  max-width: 900px;
  height: 60vh;
  padding: 20px;
  gap: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  
  
}

.sobre_barber_shop h1{
  font-size: 40px;
}

.sobre_barber_shop p{
  font-size: 18px;
}

.assinatura{
  font-size: 50px;
  font-family: 'Great Vibes';
  color: #B2987D;
}

.negrito{
  font-weight: bold;
}

/*Responsividade*/

@media (max-width: 480px) {
  .banner_imagem {
    height: 10vh; /* Menor altura para o banner */
  }

  .sobre_barber_shop h1 {
    font-size: 24px; /* Tamanho do título para celulares pequenos */
  }

  .sobre_barber_shop p {
    font-size: 12px; /* Tamanho do parágrafo para celulares pequenos */
  }

  .header_container {
    height: 6vh; /* Ajuste para o cabeçalho */
  }

  .header_container button {
    font-size: 20px; /* Reduz o tamanho do botão */
  }
}

@media (max-width: 768px) {
  .banner_imagem {
    height: 15vh; /* Reduz ainda mais o banner */
  }

  .sobre_barber_shop h1 {
    font-size: 30px; /* Ajuste no tamanho do título */
  }

  .sobre_barber_shop p {
    font-size: 14px; /* Ajuste no tamanho do parágrafo */
  }

  .header_container {
    height: 7vh; /* Ajuste na altura do cabeçalho */
  }

  .header_container button {
    font-size: 22px; /* Reduzindo o tamanho do botão */
  }
}

@media (max-width: 1024px) {
  .banner_imagem {
    height: 20vh; /* Reduz a altura do banner */
  }

  .sobre_barber_shop h1 {
    font-size: 35px; /* Ajuste no tamanho do título */
  }

  .sobre_barber_shop p {
    font-size: 16px; /* Ajuste no tamanho do parágrafo */
  }

  .header_container {
    height: 8vh; /* Menor altura para o cabeçalho */
  }

  .header_container button {
    font-size: 24px; /* Reduz o tamanho do botão */
  }
}


